
<div class="text-center mt-3">
  <h4>Your matches - {{pagination.totalItems}} found</h4>
</div>


<div class="text-center mt-3" *ngIf="pagination.totalItems == 0">
    <h4>Please change search criteria and try again</h4>
</div>

<div class="container mt-3">


    <mat-card>
        <h5 style="text-align: center">Search for apartment:</h5>   
        <br />
        <form #form="ngForm" (ngSubmit)="loadApartments()" novalidate>

            <div class="form-inline">       
                  <label for="minPrice">Price:</label>
                  <input type="number"  class="form-control ml-1" [(ngModel)]="apartmentParams.minPrice"
                   style="width: 70px" id="minPrice" name="minPrice">
                   <span>&nbsp; $</span>
  
                  <label for="maxPrice" style="margin-left:15px; margin-right: 15px;"> To:</label>
                  <input type="number"  class="form-control ml-1" [(ngModel)]="apartmentParams.maxPrice"
                   style="width: 70px" id="maxPrice" name="maxPrice">
                   <span>&nbsp; $</span>
   
            </div>
      
            <div class="form-inline" style="margin-top: 10px;">
                <label for="city">City:</label>
                <input class="form-control ml-1"  [(ngModel)]="apartmentParams.city"
                style="width: 120px" id="city" name="city">
            </div>

            <div class="form-inline" style="margin-top: 10px;">
                <label for="city">Country:</label>
                <input class="form-control ml-1"  [(ngModel)]="apartmentParams.country"
                style="width: 120px" id="city" name="city">
            </div>

            <div class="form-inline" style="margin-top: 10px;">
                <label for="guests">Number of Guests:</label>
                <input type="number"  class="form-control ml-1" [(ngModel)]="apartmentParams.guests"
                 style="width: 70px" id="guests" name="guests">
            </div>
                 
            <div class="form-inline" style="margin-top: 10px;">
                <label for="minRooms">Number of Rooms:</label>
                <input type="number"  class="form-control ml-1" [(ngModel)]="apartmentParams.minRooms"
                 style="width: 70px" id="minRooms" name="minRooms">

                <label for="maxRooms" style="margin-left:15px; margin-right: 15px;" > To</label>
                <input type="number"  class="form-control ml-1" [(ngModel)]="apartmentParams.maxRooms"
                 style="width: 70px" id="maxRooms" name="maxRooms">
            </div>
      
          <div align="center" style="margin-top: 30px;">
            <button type="submit" mat-raised-button color="primary">Search</button>
          </div>
        </form>
    </mat-card>

    <mat-card style="min-width: 100%;">

        <div class="row justify-content-end" style="margin-right: 10px;">

          <div>
            <mat-form-field>
                <mat-label>Sort by price:</mat-label>
                <mat-select [(value)]="apartmentParams.orderby">
                    <mat-option>None</mat-option>
                    <mat-option value="Ascending">Ascending</mat-option>
                    <mat-option value="Descending">Descending</mat-option>
                </mat-select>
              </mat-form-field>
                <button mat-raised-button (click)="loadApartments()" style="margin-left: 10px;">Sort</button>
          </div>
        </div>
      
        <div class="row">
            <div *ngFor="let apartment of apartments" class="col-lg-3 col-md-6 col-sm-12">
             <app-apartment-card [apartment]="apartment"></app-apartment-card>
            </div>
          </div>

      </mat-card>
     


  <div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true" 
                [totalItems]="pagination.totalItems"
                [(ngModel)]="pagination.currentPage"
                [itemsPerPage]="pagination.itemsPerPage"
                (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">
  </pagination>
  </div> 
  
</div>