<div class="container">
  <div class="row">
    <div class="mt-4" align="center">
      <div *ngIf="editForm.dirty" class="alert alert-info">
        <strong>Information: </strong> You have made changes. Any unsaved changes will be lost!
      </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col-12">
      <mat-card>
        <ng-container *ngIf="!admin">
          <h5 style="text-align: center">Update profile</h5>   
          <h6 style="text-align: center">Please enter your profile details:</h6>
        </ng-container>
        <ng-container *ngIf="admin">
            <h5 style="text-align: center; color: red;">Update {{currentUser.firstName}}'s profile</h5>   
            <h6 style="text-align: center; color: red;">Editing will change his/her data!</h6>
          </ng-container>  
        <br />
        <form #editForm="ngForm" (ngSubmit)="updateUser()">
          <div>
            <mat-form-field>
              <label mat-label> First name: </label>
              <input name="firstName" matInput [(ngModel)]="currentUser.firstName">
            </mat-form-field>

            <mat-form-field>
              <label mat-label> Last name: </label>
              <input name="lastName" matInput [(ngModel)]="currentUser.lastName">
            </mat-form-field>
          </div>

         <div>
            <mat-form-field>
              <label mat-label> City:</label>
              <input name="city" matInput [(ngModel)]="currentUser.city">
            </mat-form-field>

            <mat-form-field>
              <label mat-label> Gender:</label>
              <input style="text-transform: capitalize;" name="gender" matInput [(ngModel)]="currentUser.gender">
            </mat-form-field>
          </div>

          <div align="center">
            <button type="submit" mat-raised-button color="primary">Save</button>
          </div>
        </form>
    </mat-card>
  </div>
 
  </div>
  </div>

