<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{photoUrl}}" alt="apartment.type">
        <div class="card-body">
          <div>
            <strong>Location:</strong>
            <p>{{apartment.location.address.street}}, {{apartment.location.address.city}}, {{apartment.location.address.country}}</p>
          </div>
          <div>
            <strong>Price:</strong>
            <span *ngIf="role == 'Admin' || username == apartment.host.username" class="change" (click)="changePrice()">(Change)</span>
            <div *ngIf="priceChange">
              <input mat-input [(ngModel)]="apartment.pricePerNight" style="width: 50px;">
              <span>$ / night</span>
              <span class="change" (click)="applyPriceChange()">Apply</span>
              <span class="cancel" (click)="changePrice()">Cancel</span>
              <br/>
            </div>
            <p *ngIf="!priceChange && apartment.pricePerNight != 0">{{apartment.pricePerNight}}$ /night</p>
            <p *ngIf="!priceChange && apartment.pricePerNight == 0">Free stay!</p>
          </div>
          <div>
              <strong>Guests number:</strong> 
              <span class="change" *ngIf="role == 'Admin' || username == apartment.host.username" (click)="changeGuests()">(Change)</span> 
              <div *ngIf="guestsChange">
                  <input mat-input [(ngModel)]="apartment.numberOfGuests" style="width: 50px;">
                  <span class="change" (click)="applyGuestsChange()">Apply</span>
                  <span class="cancel" (click)="changeGuests()">Cancel</span>
                  <br/>
                </div>
              <p *ngIf="!guestsChange">{{apartment.numberOfGuests}} person max</p>
          </div>
          <div>
              <strong>Rooms number:</strong> 
              <span class="change" *ngIf="role == 'Admin' || username == apartment.host.username" (click)="changeRooms()">(Change)</span> 
              <div *ngIf="roomsChange">
                  <input mat-input [(ngModel)]="apartment.numberOfRooms" style="width: 50px;">
                  <span class="change" (click)="applyRoomsChange()">Apply</span>
                  <span class="cancel" (click)="changeRooms()">Cancel</span>
                  <br/>
                </div>
              <p *ngIf="!roomsChange && apartment.numberOfRooms > 1">{{apartment.numberOfRooms}} rooms</p>
              <p *ngIf="!roomsChange && apartment.numberOfRooms == 1">{{apartment.numberOfRooms}} room</p>
          </div>
          <div>
              <strong>Arrival time:</strong> 
              <span class="change" *ngIf="role == 'Admin' || username == apartment.host.username" (click)="changeArrival()">(Change)</span> 
              <div *ngIf="arrivalChange">
                  <mat-select [(value)]="apartment.timeToArrive">
                      <mat-option value="1">1:00 PM</mat-option>
                      <mat-option value="1:30">1:30 PM</mat-option>
                      <mat-option value="2:00">2:00 PM</mat-option>
                      <mat-option value="2:30">2:30 PM</mat-option>
                      <mat-option value="3:00">3:00 PM</mat-option>
                  </mat-select>
                  <span class="change" (click)="applyArrivalChange()">Apply</span>
                  <span class="cancel" (click)="changeArrival()">Cancel</span>
                  <br/>
                </div>
              <p *ngIf="!arrivalChange">{{apartment.timeToArrive}} PM</p>
          </div>
          <div>
              <strong>Departure time:</strong> 
              <span class="change" *ngIf="role == 'Admin' || username == apartment.host.username" (click)="changeDeparture()">(Change)</span> 
              <div *ngIf="departureChange">
                  <mat-select [(value)]="apartment.timeToLeave">
                      <mat-option value="9">9:00 AM</mat-option>
                      <mat-option value="9:30">9:30 AM</mat-option>
                      <mat-option value="10:00">10:00 AM</mat-option>
                      <mat-option value="10:30">10:30 AM</mat-option>
                      <mat-option value="11:00">11:00 AM</mat-option>
                  </mat-select>
                  <span class="change" (click)="applyDepartureChange()">Apply</span>
                  <span class="cancel" (click)="changeDeparture()">Cancel</span>
                  <br/>
                </div>
              <p *ngIf="!departureChange">{{apartment.timeToLeave}} AM</p>
          </div>
          <div *ngIf="numOfGrades == 0">
            <strong>Grade:</strong>  
            <p>There are no grades at this moment.</p>
          </div>
          <div *ngIf="numOfGrades > 0">
            <strong>Grade:</strong>  
            <p><i class="material-icons"> star</i>{{grade.toFixed(2)}} /5</p>
          </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="card">
    <div class="tab-panel">
      <tabset class="member-tabset">
        <tab heading="Amenities">
          <div style="margin-top: 10px;" align="center">
            <strong>There are following amenities available:</strong>
          </div>
          <div style="margin-top: 10px;" align="center" *ngIf="role == 'Admin' || username == apartment.host.username">
            <button mat-raised-button color="primary" [disabled]="apartment.apartmentAmentities.length == 0" (click)="modifyToogle()" *ngIf="!modify">Remove amenities</button>
            <button mat-raised-button color="primary" (click)="modifyToogle()" *ngIf="modify">Cancel removal</button>
            <button style="margin-left: 10px;" mat-raised-button color="primary" (click)="addAmentity()">Add amenities</button>
          </div>
          <mat-list role="list">
              <ng-container *ngFor="let amentity of apartment.apartmentAmentities"> 
                  <mat-list-item role="listitem">
          
                    <i class="material-icons">
                        {{amentity.amentity.icon}}
                        </i>

                      <span>{{amentity.amentity.name}}</span>
                  <span *ngIf="modify" style="cursor: pointer;"><i 
                    (click)="removeAmentity(amentity.amentity.name)"
                    class="material-icons">
                    remove_circle
                    </i></span>
                  </mat-list-item>
                </ng-container> 
          </mat-list>
        </tab>
        <tab heading="Availability">
          <div align="center" style="margin-top: 10px;">
            <div>
                <span>The host offers discount of 10% during weekends, including friday.</span>
              </div>
              <div>
                <span>Reservation price is 10% higher during holidays.</span>
              </div>
              <br/>
              <ngx-daterangepicker-material (choosedDate)="makeReservation($event)" 
              [isInvalidDate] = "isInvalidDate"
              [maxDate]="maxDate"
              [minDate]="minDate">
                </ngx-daterangepicker-material>
          </div>

        </tab>
        <tab heading="Photos">
          <div align="center" style="margin-top: 10px;">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </div>
        </tab>

        <tab heading="Reviews">
          <div *ngIf="apartment.comments.length === 0" align="center" style="margin-top: 10px;">
              <span>There are no reviews for this apartment.</span>
          </div>
          <br/>
          <div align="center"> 
            <button *ngIf="username !== apartment.host.username && postpermission == true" mat-raised-button color="primary" (click)=OnSaveReview()>Add review</button>
          </div>
          <div>
              <br/>
            <mat-divider></mat-divider> <br/> 
          </div>
            <div *ngFor="let review of apartment.comments" style="margin-left: 10px; margin-right: 10px;">
              <div *ngIf="review.deleted == false && ( review.approved == true || username == apartment.host.username || role == 'Admin')">
                Author:  {{review.user.firstName}} {{review.user.lastName}} <br/>
                Grade: {{review.grade}}
                <div>
                  Status: {{review.approved | approved}}
                  <span *ngIf="!review.approved" class="approve" (click)="approveComment(review.id)">Approve</span>
                </div>
                <div>
                    <span class="cancel" (click)="deleteComment(review.id)">Delete</span>
                </div>
                 <br/>
                  {{review.text}}
                    <mat-divider></mat-divider>
                    <br/>
              </div>
            </div> 
        </tab>
        <tab heading="Edit Photos" *ngIf="role == 'Admin' || username == apartment.host.username">
            <app-photo-editor [photos]="photos" [apartment]="apartment" (changed)="changeMain($event)" (changed2)="loadAgain($event)"></app-photo-editor>
        </tab>
        <tab heading="Reservations" *ngIf="role == 'Admin' || username == apartment.host.username">
            <app-apartmentreservations [apartment]="apartment.apartmentId" ></app-apartmentreservations>
       </tab>
      </tabset>
    </div>
  </div>
</div>
</div>
</div>