<div class="container mt-4">
  <div class="row">
    <div class="col-sm-4">
      <div class="card">
        <img class="card-img-top img-thumbnail" src="{{apartment.photos[0].url}}" alt="apartment.type">
        <div class="card-body">
          <div>
            <strong>Location:</strong>
            <p>{{apartment.location.address.street}}, {{apartment.location.address.city}}, {{apartment.location.address.country}}</p>
          </div>
          <div>
            <strong>Price:</strong>
            <span class="change" (click)="changePrice()">(Change)</span>
            <div *ngIf="priceChange">
              <input mat-input [(ngModel)]="apartment.pricePerNight" style="width: 50px;">
              <span>$ / night</span>
              <span class="change" (click)="applyPriceChange()">Apply</span>
              <span class="cancel" (click)="changePrice()">Cancel</span>
              <br/>
            </div>
            <p *ngIf="!priceChange && apartment.pricePerNight != 0">{{apartment.pricePerNight}}$ /night</p>
            <p *ngIf="!priceChange && apartment.pricePerNight == 0">Free stay!</p>
          </div>
          <div>
              <strong>Guests number:</strong> 
              <span class="change" (click)="changeGuests()">(Change)</span> 
              <div *ngIf="guestsChange">
                  <input mat-input [(ngModel)]="apartment.numberOfGuests" style="width: 50px;">
                  <span class="change" (click)="applyGuestsChange()">Apply</span>
                  <span class="cancel" (click)="changeGuests()">Cancel</span>
                  <br/>
                </div>
              <p *ngIf="!guestsChange">{{apartment.numberOfGuests}} person max</p>
          </div>
          <div>
              <strong>Rooms number:</strong> 
              <span class="change" (click)="changeRooms()">(Change)</span> 
              <div *ngIf="roomsChange">
                  <input mat-input [(ngModel)]="apartment.numberOfRooms" style="width: 50px;">
                  <span class="change" (click)="applyRoomsChange()">Apply</span>
                  <span class="cancel" (click)="changeRooms()">Cancel</span>
                  <br/>
                </div>
              <p *ngIf="!roomsChange && apartment.numberOfRooms > 1">{{apartment.numberOfRooms}} rooms</p>
              <p *ngIf="!roomsChange && apartment.numberOfRooms == 1">{{apartment.numberOfRooms}} room</p>
          </div>
          <div>
              <strong>Arrival time:</strong> 
              <span class="change" (click)="changeArrival()">(Change)</span> 
              <div *ngIf="arrivalChange">
                  <mat-select [(value)]="apartment.timeToArrive">
                      <mat-option value="1">1:00 PM</mat-option>
                      <mat-option value="1:30">1:30 PM</mat-option>
                      <mat-option value="2:00">2:00 PM</mat-option>
                      <mat-option value="2:30">2:30 PM</mat-option>
                      <mat-option value="3:00">3:00 PM</mat-option>
                  </mat-select>
                  <span class="change" (click)="applyArrivalChange()">Apply</span>
                  <span class="cancel" (click)="changeArrival()">Cancel</span>
                  <br/>
                </div>
              <p *ngIf="!arrivalChange">{{apartment.timeToArrive}} PM</p>
          </div>
          <div>
              <strong>Departure time:</strong> 
              <span class="change" (click)="changeDeparture()">(Change)</span> 
              <div *ngIf="departureChange">
                  <mat-select [(value)]="apartment.timeToLeave">
                      <mat-option value="9">9:00 AM</mat-option>
                      <mat-option value="9:30">9:30 AM</mat-option>
                      <mat-option value="10:00">10:00 AM</mat-option>
                      <mat-option value="10:30">10:30 AM</mat-option>
                      <mat-option value="11:00">11:00 AM</mat-option>
                  </mat-select>
                  <span class="change" (click)="applyDepartureChange()">Apply</span>
                  <span class="cancel" (click)="changeDeparture()">Cancel</span>
                  <br/>
                </div>
              <p *ngIf="!departureChange">{{apartment.timeToLeave}} AM</p>
          </div>
          <div *ngIf="numOfGrades == 0">
            <strong>Grade:</strong>  
            <p>There are no grades at this moments.</p>
          </div>
          <div *ngIf="numOfGrades > 0">
            <strong>Grade:</strong>  
            <p><i class="material-icons"> star</i>{{grade}} /10</p>
          </div>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <div class="card">
    <div class="tab-panel">
      <tabset class="member-tabset">
        <tab heading="Amenities">
          <div style="margin-top: 10px;" align="center">
            <strong>There are following amenities available:</strong>
          </div>
          <div style="margin-top: 10px;" align="center">
            <button mat-raised-button color="primary" (click)="modifyToogle()" *ngIf="!modify">Remove amenities</button>
            <button mat-raised-button color="primary" (click)="modifyToogle()" *ngIf="modify">Cancel removal</button>
            <button style="margin-left: 10px;" mat-raised-button color="primary" (click)="addAmentity()">Add amenities</button>
          </div>
          <mat-list role="list">
              <ng-container *ngFor="let amentity of apartment.amentities"> 
                  <mat-list-item role="listitem">
          
                    <i class="material-icons">
                        {{amentity.icon}}
                        </i>
                        
                      <span>{{amentity.name}}</span>
                  <span *ngIf="modify" style="cursor: pointer;"><i 
                    (click)="removeAmentity(amentity.name)"
                    class="material-icons">
                    remove_circle
                    </i></span>
                  </mat-list-item>
                </ng-container> 
          </mat-list>
        </tab>
        <tab heading="Availability">
          <div align="center" style="margin-top: 10px;">
            <div>
                <span>The host offers discount of 10% during weekends, including friday.</span>
              </div>
              <div>
                <span>Reservation price is 10% higher during holidays.</span>
              </div>
              <br/>
              <ngx-daterangepicker-material (choosedDate)="choosedDate($event)">
                </ngx-daterangepicker-material>
          </div>

        </tab>
        <tab heading="Photos">
          <div align="center" style="margin-top: 10px;">
            <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
          </div>
        </tab>

        <tab heading="Reviews">
          <div *ngIf="apartment.comments.length === 0" align="center" style="margin-top: 10px;">
              <span>There are no reviews for this apartment.</span>
          </div>
          <br/>
            <div *ngFor="let review of apartment.comments" style="margin-left: 10px; margin-right: 10px;">
            Author:  {{review.author}} <br/> <br/>
              {{review.text}}
                <mat-divider></mat-divider>
                <br/>
            </div>
        </tab>
        
        <tab heading="Messages">
          <p>Messages will go here</p>
        </tab>

      </tabset>
    </div>
  </div>
</div>
</div>
</div>