<div class="container">
  <mat-card>
    
      <div>
        <span class="headline"> {{apartment.location.address.street}} </span>
      </div>
      <div>
        <span class="address"> {{apartment.location.address.city}}, {{apartment.location.address.country}} </span>
      </div>
      <br/>
      
      <div>
        <span>
          {{apartment.numberOfGuests}} guests
        </span>

        <span>
          {{apartment.numberOfRooms}} bedrooms
        </span>
      </div>

      <br/>
      <mat-divider></mat-divider>
      <div>
          <span class="amentities">Price</span>
      </div>

      <div>
        <span>{{apartment.pricePerNight}}$ /night</span>
      </div>
      <br/>
      <mat-divider></mat-divider>

      <div class="type">
        <span>Entire home</span>
      </div>

      <div>
        <span>You'll have the apartment for yourself.</span>
      </div>
      <br/>
      <mat-divider></mat-divider>

      <div>
        <span class="amentities">Amentities</span>
      </div>
      <br/>
      <div>
        <ng-container *ngFor="let amentity of apartment.amentities"> 
          <div>
            <span>{{amentity.name}}</span>
          </div>
        </ng-container>
      </div>

      <div>
        <button type="button" class="_b0ybw8s" aria-busy="false">Show all {{numOfAmentities}} amenities</button>
      </div>

      <mat-divider></mat-divider>

      <div>
          <span class="amentities">Availability</span>
      </div>
      <br/>
      <div>
        <span>The host offers discount of 10% during weekends, including friday.</span>
      </div>
      <div>
        <span>Reservation price is 10% higher during holidays.</span>
      </div>

      <div>
          <input style="max-width: 200px;" type="text" ngxDaterangepickerMd [(ngModel)]="selected" class="form-control"/>
      </div>

      <mat-divider></mat-divider>

      <div>
          <span class="amentities">Reviews</span>
      </div>
      <br/>
      <div>
        <span><i class="material-icons"> star</i></span>
        <span class="grade">{{grade}}</span>
        <span class="numofgrades">{{numOfGrades}}</span>
        <span *ngIf="numOfGrades > 1"> reviews</span>
        <span *ngIf="numOfGrades == 1"> review</span>
      </div>
      <br/>
      <mat-divider></mat-divider>
      <br/>
       <div *ngFor="let review of apartment.comments">
         {{review.text}}
         <mat-divider></mat-divider>
         <br/>
       </div> 

  </mat-card>
</div>


