<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="container">
  <a class="navbar-brand" [routerLink]="['/explore']">ApartmentBook</a>

    <ul *ngIf="loggedIn()" class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" [routerLink]="['/explore']" >Find a home</a>
      </li>
      <ng-container *ngIf="isHost() || isAdmin()">
        <li class="nav-item">
            <a class="nav-link"[routerLink]="['/addnew']" >Host a home</a>
        </li>
      </ng-container>
      <ng-container *ngIf="isHost() || isAdmin()">
      <li class="nav-item">
        <a class="nav-link"[routerLink]="['/myapps']" >My Apartments</a>
    </li>
     </ng-container>
    <li class="nav-item">
      <a class="nav-link"[routerLink]="['/reservations']" >My reservations</a>
    </li>
    </ul>

    <div *ngIf="loggedIn()" class="dropdown" dropdown style="cursor: pointer;">
        <a class="dropdown-toggle text-light" dropdownToggle>
          Welcome  {{authService.decodedToken?.unique_name | titlecase}}
        </a>

        <div class="dropdown-menu mt-3" *dropdownMenu>
            <a class="dropdown-item"  [routerLink]="['/profile']">
              <i class="fa fa-user"></i> Edit Profile</a>
              <ng-container *ngIf="isAdmin()">
                <div class="dropdown-divider"></div>
                <a class="dropdown-item"  [routerLink]="['/users']">
                  <i class="fa fa-user"></i> Manage Users</a>
              </ng-container>
                <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()">
              <i class="fa fa-sign-out"></i> Logout</a>
          </div>
        </div>
  </div>
</nav> 